test a local file
<a href="http:invalid/url">invalid url</a>
<a href="./test2.html">test2.html</a><br>
an invalid ftp
<a href="ftp://ftp.us.debian.org/debian/ls-jdjlR">ftp://ftp.debian.org/debian/ls-lR</a><br>
a valid ftp
<a href="ftp://ftp.us.debian.org/debian/ls-lR">ftp://ftp.debian.org/debian/ls-lR</a><br>
<a href="ftp://ftp.au.debian.org/debian/">ftp://ftp.au.debian.org/debian/</a><br>
<a href="ftp://ftp.br.debian.org/debian/">ftp://ftp.br.debian.org/debian/</a><br>
testing a redirect (301)
<a href="http://www.msu.edu/">http://www.msu.edu/</a><br>
a (404) Not Found
<a href="http://www.above.net/">http://www.above.net/</a><br>
a (403) Forbidden
<a href="http://www.it.net.au/">http://www.it.net.au/</a><br>
<a href="http://www.kachinatech.com/">http://www.kachinatech.com/</a><br>
do a header dump
<a href="http://cgi.debian.org/cgi-bin/headers.pl">http://cgi.debian.org/cgi-bin/headers.pl</a><br>
main test
<a href="http://www.alpha-processor.com/">http://www.alpha-processor.com/</a><br>
<a href="http://os.inf.tu-dresden.de/index_e.html">http://os.inf.tu-dresden.de/index_e.html</a><br>
badh url and http://os.inf.tu-dresden.de/ is in german
<a href="http://www.alpha-processor.com/"></a><br>
<a href="http://www.corel.com/"></a><br>
<a href="http://www.sun.se/"></a><br>
<a href="http://www.mapblast.com/"></a><br>
<a href="http://kt.linuxcare.com/KC/debian-hurd/"></a><br>
<a ref=""></a><br>
<a href="http://www.debian.org/">http://www.debian.org/</a><br>
